<!DOCTYPE html>
<html>
	<head>
		<title>Curso JavaScript</title>
	</head>
	<body>

	<div id="app">
		<div class="box"></div>
	</div>


		<script>

			var boxElement = document.querySelector('.box');

			boxElement.style.width = '100px';
			boxElement.style.height = '100px';
			boxElement.style.backgroundColor = '#f00';

			/*MANIPULAÇÃO DOS ELEMENTOS DE UMA PAGIMA HTML 
			Criação de elementos
			Seleção de elementos
			Deleção de elementos
			*/
			/*
			let inputElement = document.querySelector('input[name=nome]');
			console.log(inputElement);

			let btnElement = document.querySelector('button.botao');

			btnElement.onclick = function() {
				var text = inputElement.value;
				alert(text);
			}*/

			/*
			//Criando um elemento do tipo link
			let linkElement = document.createElement('a');
			//Setando valor da url
			linkElement.setAttribute('href', 'https://g1.globo.com');
			//Criando elemento do tipo texto
			let textElement = document.createTextNode('Acessar portal de noticias G1');
			//Adicionando um elememento do tipo texto em um elemento tipo link
			linkElement.appendChild(textElement);
			//Selecionando em qual elemento da pagina conterá o linkElemento pelo id da div
			let containerElement = document.querySelector('#app');

			containerElement.appendChild(linkElement);
			*/

		</script>
	</body>
</html>